[submodule "vendor/github.com/cloudfoundry/cli"]
	path = vendor/github.com/cloudfoundry/cli
	url = https://github.com/cloudfoundry/cli.git
[submodule "vendor/github.com/golang/mock"]
	path = vendor/github.com/golang/mock
	url = https://github.com/golang/mock.git
[submodule "vendor/github.com/onsi/ginkgo"]
	path = vendor/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
[submodule "vendor/github.com/onsi/gomega"]
	path = vendor/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
[submodule "vendor/golang.org/x/crypto"]
	path = vendor/golang.org/x/crypto
	url = https://github.com/golang/crypto.git
[submodule "vendor/github.com/nu7hatch/gouuid"]
	path = vendor/github.com/nu7hatch/gouuid
	url = https://github.com/nu7hatch/gouuid.git
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://github.com/golang/net.git
[submodule "vendor/github.com/cloudfoundry/gosigar"]
	path = vendor/github.com/cloudfoundry/gosigar
	url = https://github.com/cloudfoundry/gosigar
[submodule "vendor/github.com/kennygrant/sanitize"]
	path = vendor/github.com/kennygrant/sanitize
	url = https://github.com/kennygrant/sanitize
[submodule "vendor/github.com/jessevdk/go-flags"]
	path = vendor/github.com/jessevdk/go-flags
	url = https://github.com/jessevdk/go-flags.git
